body {
    background-color: white;
    font-size: 200%;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background: black
}
#autor {
    color: #303030;
    font-family: bloodstone;
    src: url(bloodstone.ttf);
    position: absolute;
    bottom:0;
    width: 100%;
}
h1 {
    color: white;
    font-family: calibri regular;
    src: url(calibri regular.ttf);
    font-weight: bold;
    font-size: 100px;
}
h3 {
    color: white;
    font-family: calibri regular;
    src: url(calibri regular.ttf);
    font-weight: bold;
    font-size: 60px;
}
#button {
    position: absolute;
    left: 10px;
}
