body {
    background-color: white;
    font-size: 200%;

}
#wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: black;
}
h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 300%;
}
#good {
    text-align: center;
    float: left;
    margin-left: 10%;
}
#sadge {
    text-align: center;
    float: right;
    margin-right: 10%;
}
#button {
    position: absolute;
    left: 2%;
}
#autor {
    color: #303030;
    font-family: cursive;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 414px) {
    * {
        margin: auto;
    }
    body {
        background-color: black;
        font-size: 200%;
        text-align: center;
        border: white solid 5px;
    }
    h1 {
        font-size: 120%;
    }
    #autor {
        font-size: 70%;
    }
    #bp {
        width: 70%;
        height: 70%;
        margin-right: 22%;
    }
}
@media screen and (max-height: 586px) {
    #good {
        margin-left: 2%;
    }
    #sadge {
        margin-right: 2%;
    }
}
/* video {
    float: center;
    width: 25%;
    height: 50%;
    margin-top: 12%;
} */
