body {
    background-color: white;
    font-size: 200%;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
#wrapper {
    width: 100%;
    height: 100%;
    margin:auto;
    background: black
}
h1 {
    color: white;
    font-family: pricedown;
    src: url(pricedown bl.otf);
    font-weight: bold;
    font-size: 100px;
}
#good {
    text-align: center;
    float: left;
    margin-left: 75px;
}
#sadge {;
    text-align: center;
    float: right;
    margin-right: 130px;
}
#button {
    position: absolute;
    left: 10px;
}
#autor {
    color: #303030;
    font-family: bloodstone;
    src: url(bloodstone.ttf);
    position: absolute;
    bottom:0;
    margin-left: 880px;

}
video {
    float: center;
    width: 25%;
    height: 50%;
    margin-top: 220px;
    margin-left: 100px;
}
